<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
<!--Agregacion de Bootstrap-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
	body {
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	    height: 100vh;
	    margin: 0;
	}
	#img {
	    max-width: 50%;
	    height: auto;
	    margin-bottom: 20px;
	}
	#boton {
	    padding: 20px;
	    font-size: 20px;
	}
    </style>
</head>
<body style="margin: 10px;">
	<img th:src="@{/imagenError.jpg}" id="img" alt="Imagen de error">
	<a th:href="@{/}"><button id="boton" class="btn btn-danger">Volver al registro</button></a>
</body>
</html>